# Compiled python files
*.py[oc]

# gedit files
*~

# Notepad++ files
nppBackup/

# Pytest dirs/files
.pytest_cache/

# Special dirs and files
build/
dist/
bin/
spyder.egg-info/
Thumbs.db
desktop.ini
.DS_Store/
spyder_crash.log
.DS_Store
.spyproject
.idea/
.cache
.coverage*

# git .orig files
*.orig

# log files
*.log

# Rope project folders
.ropeproject/
.vscode/