# https://ci.appveyor.com/project/spyder-ide/spyder

environment:

  global:
    PYTHON: "C:\\conda"
    MINICONDA_VERSION: "latest"
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\ci-helpers\\appveyor\\windows_sdk.cmd"
    PYTHON_ARCH: "64"
    PIP_DEPENDENCIES_FLAGS: "-q"
    CONDA_DEPENDENCIES_FLAGS: "--quiet"
    CONDA_DEPENDENCIES: >
      rope pyflakes sphinx pygments pylint pycodestyle psutil nbconvert
      qtawesome cloudpickle pickleshare pyzmq chardet mock pandas pytest
      pytest-cov numpydoc scipy pillow qtconsole matplotlib jedi pywin32
    PIP_DEPENDENCIES: "pytest-qt pytest-mock pytest-timeout flaky codecov"

  matrix:
    - PYTHON_VERSION: "2.7"
    #- PYTHON_VERSION: "3.5"
    - PYTHON_VERSION: "3.6"

platform:
  -x64

install:
  # If there is a newer build queued for the same PR, cancel this one.
  # The AppVeyor 'rollout builds' option is supposed to serve the same
  # purpose but it is problematic because it tends to cancel builds pushed
  # directly to master instead of just PR builds (or the converse).
  # credits: JuliaLang developers.
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
      https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
      Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
        throw "There are newer queued builds for this pull request, failing early." }
  - "git clone git://github.com/astropy/ci-helpers.git"
  - "powershell ci-helpers/appveyor/install-miniconda.ps1"
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "activate test"
  # Install qtpy and qtconsole from Github
  - "pip install git+https://github.com/spyder-ide/qtpy.git"
  - "conda remove -q -y qtconsole"
  - "pip install git+https://github.com/jupyter/qtconsole.git"
  # Run with tornado < 5.0 to avoid hangs
  - "conda install tornado=4.5.3"

build: false

test_script:
  - "%CMD_IN_ENV% python runtests.py || %CMD_IN_ENV% python runtests.py || %CMD_IN_ENV% python runtests.py"
  
on_success:
  - codecov
