# https://ci.appveyor.com/project/ccordoba12/spyder

environment:
  matrix:
    - PYTHON:         "C:\\Python35_64"
      PYTHON_VERSION: "3.5"
      PYTHON_ARCH:    "64"
      USE_QT_API:     "PyQt5"

    - PYTHON:         "C:\\Python35_64"
      PYTHON_VERSION: "3.5"
      PYTHON_ARCH:    "64"
      USE_QT_API:     "PyQt4"

    - PYTHON:         "C:\\Python27_64"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH:    "64"
      USE_QT_API:     "PyQt4"

install:
  - powershell .\\continuous_integration\\appveyor\\install.ps1
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PYTHON%\\Library\\bin;%PATH%"

build: false

test_script:
  - "%CMD_IN_ENV% %APPVEYOR_BUILD_FOLDER%\\continuous_integration\\appveyor\\build_test.bat"
  - "%CMD_IN_ENV% %APPVEYOR_BUILD_FOLDER%\\continuous_integration\\appveyor\\run_test.bat"
  - "%CMD_IN_ENV% %APPVEYOR_BUILD_FOLDER%\\continuous_integration\\appveyor\\modules_test.bat"
  - if %USE_QT_API%==PyQt4 set PYTEST_QT_API=pyqt4v2
  - cd %APPVEYOR_BUILD_FOLDER% & python runtests.py
