include scripts/*
include img_src/*.ico
include img_src/spyder.png
include img_src/oxygen_icon_set/*
include MANIFEST.in
include README.md
include LICENSE.txt
include CHANGELOG.md
include AUTHORS.txt
include NOTICE.txt
include bootstrap.py
