# Installer template file for creating a Windows installer using NSIS.

!if "${NSIS_PACKEDVERSION}" < 0x3008000
  !error "NSIS 3.08 or higher is required to build this installer!"
  # conda install "nsis>=3.08"  (includes extra unicode plugins)
!endif

Unicode true

{%- if enable_debugging %}
# Special logging build needed for ENABLE_LOGGING
# See https://nsis.sourceforge.io/Special_Builds
!define ENABLE_LOGGING
{%- endif %}

# Comes from https://nsis.sourceforge.io/Logging:Enable_Logs_Quickly
!define LogSet "!insertmacro LogSetMacro"
!macro LogSetMacro SETTING
  !ifdef ENABLE_LOGGING
    ${If} ${SETTING} == "on"
      ${IfNot} ${FileExists} "$INSTDIR\install.log"
        # Enforce UTF-16 encoding in the log file
        # NSIS doesn't write the correct BOM to log files,
        # so each character will be followed by NUL.
        FileOpen $R0 "$INSTDIR\install.log" w
        FileWrite $R0 ""
        FileClose $R0
      ${EndIf}
    ${EndIf}
    LogSet ${SETTING}
  !endif
!macroend

!define LogText "!insertmacro LogTextMacro"
!macro LogTextMacro INPUT_TEXT
  !ifdef ENABLE_LOGGING
    LogText ${INPUT_TEXT}
  !endif
!macroend

var /global TmpDir
var /global QuietMode # "0" = print normally, "1" = do not print
var /global StdOutHandle
var /global StdOutHandleSet
# Print and PrintToConsole are macros because it makes them easier to call.
# However, that also means that registers must be handled with caution because
# they will be overwritten in the macro. It is best to use $R* registers if
# temporary variables need to be used.
!define PrintToConsole "!insertmacro PrintToConsoleMacro"
!macro PrintToConsoleMacro INPUT_TEXT
  ${If} ${Silent}
  ${AndIf} $QuietMode != "1"
    ${IfNot} $StdOutHandleSet == "1"
        System::Call 'kernel32::GetStdHandle(i -11)i.r0'
        System::Call 'kernel32::AttachConsole(i -1)i.r1'
        ${If} $0 = 0
        ${OrIf} $1 = 0
            System::Call 'kernel32::AllocConsole()'
            System::Call 'kernel32::GetStdHandle(i -11)i.r0'
        ${EndIf}
        StrCpy $StdOutHandle $0
        StrCpy $StdOutHandleSet "1"
    ${EndIf}
    # Only add newline if input text doesn't have it already
    StrLen $2 "${INPUT_TEXT}"
    IntOp $2 $2 - 1
    StrCpy $2 "${INPUT_TEXT}" 1 $2
    ${If} $2 == "$\n"
      FileWrite $StdOutHandle "${INPUT_TEXT}"
    ${Else}
      FileWrite $StdOutHandle "${INPUT_TEXT}$\n"
    ${EndIf}
  ${EndIf}
!macroend

!define Print "!insertmacro PrintMacro"
!macro PrintMacro INPUT_TEXT
  DetailPrint "${INPUT_TEXT}"
  ${PrintToConsole} "${INPUT_TEXT}"
!macroend

!include "WinMessages.nsh"
!include "WordFunc.nsh"
!include "LogicLib.nsh"
!include "WinVer.nsh"
!include "MUI2.nsh"
!include "x64.nsh"

!include "FileFunc.nsh"
!include "StrFunc.nsh"
${Using:StrFunc} StrStr
!insertmacro GetParameters
!insertmacro GetOptions

!include "UAC.nsh"
!include "nsDialogs.nsh"

!include "Utils.nsh"

{%- if uninstall_with_conda_exe %}
!include "StandaloneUninstallerOptions.nsh"
{%- endif %}

!define NAME                          {{ installer_name }}
!define VERSION                       {{ installer_version }}
!define COMPANY                       {{ company }}
!define ARCH                          {{ arch }}
!define PLATFORM                      {{ installer_platform }}
!define CONSTRUCTOR_VERSION           {{ constructor_version }}
{%- if has_python %}
!define PY_VER                        {{ pyver_components[:2] | join(".") }}
!define PYVERSION_JUSTDIGITS          {{ pyver_components | join("") }}
!define PYVERSION                     {{ pyver_components | join(".") }}
!define PYVERSION_MAJOR               {{ pyver_components[0] }}
{% endif %}
!define DEFAULT_PREFIX                {{ default_prefix }}
!define DEFAULT_PREFIX_DOMAIN_USER    {{ default_prefix_domain_user }}
!define DEFAULT_PREFIX_ALL_USERS      {{ default_prefix_all_users }}
!define PRE_INSTALL_DESC              {{ pre_install_desc }}
!define POST_INSTALL_DESC             {{ post_install_desc }}
!define ENABLE_SHORTCUTS              {{ enable_shortcuts }}
!define REGISTER_PYTHON_OPTION        {{ '1' if register_python and has_python else '0' }}
!define REGISTER_PYTHON_DEFAULT_VALUE {{ '1' if register_python_default else '0' }}
!define INIT_CONDA_OPTION             {{ '1' if initialize_conda else '0' }}
!define INIT_CONDA_MODE               "{{ 'condabin' if initialize_conda == 'condabin' else 'classic' }}"
!define INIT_CONDA_DEFAULT_VALUE      {{ '1' if initialize_by_default else '0' }}
!define PRODUCT_NAME                  "${NAME} ${VERSION} (${ARCH})"
!define UNINSTALL_NAME                "{{ UNINSTALL_NAME }}"
!define UNINSTREG                     "SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\${UNINSTALL_NAME}"
# Silent installations do not output to the console and outputs to stdout
# are not written into install.log. STEP_LOG creates an intermittent file
# that is output into these streams after the commands finish.
!define STEP_LOG                      "$INSTDIR\.step.log"
!define MAX_RELATIVE_PATH_LENGTH {{ max_relative_path_length }}

var /global INIT_CONDA
var /global REG_PY

var /global NO_REGISTRY

var /global INSTDIR_JUSTME
var /global INSTALLER_VERSION
var /global INSTALLER_NAME_FULL

# UAC shield overlay
!ifndef BCM_SETSHIELD
    !define BCM_SETSHIELD 0x0000160C
!endif

var /global ARGV
var /global ARGV_Help
var /global ARGV_InstallationType
var /global ARGV_AddToPath
var /global ARGV_KeepPkgCache
{%- if has_python %}
var /global ARGV_RegisterPython
{%- endif %}
var /global ARGV_NoRegistry
var /global ARGV_NoScripts
var /global ARGV_NoShortcuts
var /global ARGV_QuietMode
{%- if uninstall_with_conda_exe %}
var /global ARGV_Uninst_RemoveConfigFiles
var /global ARGV_Uninst_RemoveUserData
var /global ARGV_Uninst_RemoveCaches
{%- endif %}

var /global IsDomainUser
var /global LongPathsEnabled
var /global InstDirLen

var /global InstModePage_RadioButton_JustMe
var /global InstModePage_RadioButton_AllUsers

var /global InstMode # 0 = Just Me, 1 = All Users.
!define JUST_ME 0
!define ALL_USERS 1

var /global CMD_EXE
var /global ICACLS_EXE

!macro FindWindowsBinaries
    # Find cmd.exe
    ReadEnvStr $R0 SystemRoot
    ReadEnvStr $R1 windir
    ${If} ${FileExists} "$R0"
        StrCpy $CMD_EXE "$R0\System32\cmd.exe"
        StrCpy $ICACLS_EXE "$R0\System32\icacls.exe"
    ${ElseIf} ${FileExists} "$R1"
        StrCpy $CMD_EXE "$R1\System32\cmd.exe"
        StrCpy $ICACLS_EXE "$R1\System32\icacls.exe"
    ${Else}
        # Cross our fingers binaries are in PATH
        StrCpy $CMD_EXE "cmd.exe"
        StrCpy $ICACLS_EXE "icacls.exe"
    ${EndIf}
!macroend

# Include this one after our defines
!include "OptionsDialog.nsh"

CRCCheck On

# Basic options
Name "${PRODUCT_NAME}"
OutFile {{ outfile }}
ShowInstDetails "hide"
ShowUninstDetails "hide"
# This installer contains tar.bz2 files, which are already compressed
SetCompress "off"

# Start off with the lowest permissions and work our way up.
RequestExecutionLevel user

# Version information & branding text
VIAddVersionKey "ProductName" "${PRODUCT_NAME}"
VIAddVersionKey "FileVersion" "${VERSION}"
VIAddVersionKey "ProductVersion" "${VERSION}"
VIAddVersionKey "CompanyName" "${COMPANY}"
VIAddVersionKey "LegalCopyright" "(c) ${COMPANY}"
VIAddVersionKey "FileDescription" "${NAME} Installer"
VIAddVersionKey "Comments" "Created by constructor ${CONSTRUCTOR_VERSION}"
VIProductVersion {{ vipv }}
BrandingText /TRIMLEFT "${COMPANY}"

# Interface configuration
!define MUI_ICON {{ iconfile }}
!define MUI_UNICON {{ iconfile }}
!define MUI_HEADERIMAGE
!define MUI_HEADERIMAGE_BITMAP {{ headerimage }}
!define MUI_HEADERIMAGE_UNBITMAP {{ headerimage }}
!define MUI_ABORTWARNING
!define MUI_FINISHPAGE_NOAUTOCLOSE
!define MUI_UNFINISHPAGE_NOAUTOCLOSE
!define MUI_WELCOMEFINISHPAGE_BITMAP {{ welcomeimage }}
!define MUI_UNWELCOMEFINISHPAGE_BITMAP {{ welcomeimage }}
#!define MUI_CUSTOMFUNCTION_GUIINIT GuiInit

# Pages
#!define MUI_PAGE_CUSTOMFUNCTION_SHOW OnStartup
{%- if custom_welcome %}
# Custom welcome file(s)
{{ CUSTOM_WELCOME_FILE }}
{%- else %}
!define MUI_PAGE_CUSTOMFUNCTION_PRE SkipPageIfUACInnerInstance
!insertmacro MUI_PAGE_WELCOME
{%- endif %}
!define MUI_PAGE_CUSTOMFUNCTION_PRE SkipPageIfUACInnerInstance
!insertmacro MUI_PAGE_LICENSE {{ licensefile }}
Page Custom InstModePage_Create InstModePage_Leave
!define MUI_PAGE_CUSTOMFUNCTION_PRE DisableBackButtonIfUACInnerInstance
!define MUI_PAGE_CUSTOMFUNCTION_LEAVE OnDirectoryLeave
!insertmacro MUI_PAGE_DIRECTORY
# Custom options now differ depending on installation mode.
Page Custom mui_AnaCustomOptions_Show
!insertmacro MUI_PAGE_INSTFILES

{%- for page in POST_INSTALL_PAGES %}
{{ page }}
{%- endfor %}

{%- if with_conclusion_text %}
!define MUI_FINISHPAGE_TITLE {{ conclusion_title }}
!define MUI_FINISHPAGE_TITLE_3LINES
!define MUI_FINISHPAGE_TEXT {{ conclusion_text }}
{%- endif %}

{%- if custom_conclusion %}
# Custom conclusion file(s)
{{ CUSTOM_CONCLUSION_FILE }}
{%- else %}
!insertmacro MUI_PAGE_FINISH
{%- endif %}


!insertmacro MUI_UNPAGE_WELCOME
!define MUI_PAGE_CUSTOMFUNCTION_LEAVE un.OnDirectoryLeave
!insertmacro MUI_UNPAGE_CONFIRM
{%- if uninstall_with_conda_exe %}
UninstPage Custom un.UninstCustomOptions_Show
{%- endif %}
!insertmacro MUI_UNPAGE_INSTFILES
!insertmacro MUI_UNPAGE_FINISH

# Language
!insertmacro MUI_LANGUAGE "English"

Function SkipPageIfUACInnerInstance
    ${If} ${UAC_IsInnerInstance}
        Abort
    ${EndIf}
FunctionEnd

Function InitializeVariables
    StrCpy $NO_REGISTRY "0"

    # Package cache option
    StrCpy $Ana_ClearPkgCache_State {{ '${BST_UNCHECKED}' if keep_pkgs else '${BST_CHECKED}' }}

    # Pre/post install
    StrCpy $Ana_PreInstall_State {{ '${BST_CHECKED}' if pre_install_exists else '${BST_UNCHECKED}' }}
    StrCpy $Ana_PostInstall_State {{ '${BST_CHECKED}' if post_install_exists else '${BST_UNCHECKED}' }}
FunctionEnd

!macro DoElevation
    GetDlgItem $1 $HWNDParent 1
    System::Call user32::GetFocus()i.s
    # Disable 'Next' button.
    EnableWindow $1 0
    !insertmacro UAC_PageElevation_RunElevated
    EnableWindow $1 1
    System::call user32::SetFocus(is)
    ${If} $2 = 0x666
        MessageBox MB_ICONEXCLAMATION \
            "You need to log in with an administrative account \
             in order to perform an 'All Users' installation."
        Abort
    ${ElseIf} $0 = 1223
        # UAC canceled by user.
        Abort
    ${Else}
        ${If} $0 <> 0
            ${If} $0 = 1062
                MessageBox MB_ICONSTOP \
                    "Elevation failed; Secondary Logon service is \
                     not running."
            ${Else}
                MessageBox MB_ICONSTOP \
                    "Elevation failed; error code: $0."
            ${EndIf}
            Abort
        ${EndIf}
    ${EndIf}
    # UAC worked, we're the outer installer, so we can quit.
    Quit
!macroend


!macro ParseCommandLineArgs
    ClearErrors
    ${GetParameters} $ARGV
    ${GetOptions} $ARGV "/?" $ARGV_Help
    ${IfNot} ${Errors}
        SetSilent silent
        ${Print} "\
            Installs ${NAME} ${VERSION}$\n\
            $\n\
            USAGE$\n\
            -----$\n\
            $\n\
            $EXEFILE [options]$\n\
            $\n\
            OPTIONS$\n\
            -------$\n\
            $\n\
                /InstallationType=[AllUsers|JustMe] [default: JustMe]$\n\
{%- if initialize_conda %}
                /AddToPath=[0|1] [default: 0]$\n\
{%- endif %}
                /KeepPkgCache=[0|1] [default: {{ 1 if keep_pkgs else 0 }}]$\n\
{%- if has_python and register_python %}
                /RegisterPython=[0|1] [default: 0]$\n\
{%- endif %}
                /NoRegistry=[0|1] [default: AllUsers: 0, JustMe: 0]$\n\
                /NoScripts=[0|1] [default: 0]$\n\
                /NoShortcuts=[0|1] [default: 0]$\n\
                /? (show this help message)$\n\
                /S (run in CLI/headless mode)$\n\
                /Q (quiet mode, do not print output to console)$\n\
                /D=[installation directory] (must be last parameter)$\n"
        # There seems to be a limit to how many chars per ${Print} we can pass.
        # The message will get truncated silently, no errors.
        # That's why we split the help message in two calls.
        ${Print} "\
            EXAMPLES$\n\
            --------$\n\
                $\n\
                Install for all users, but don't add to PATH env var:$\n\
                    > $EXEFILE /InstallationType=AllUsers$\n\
                $\n\
{%- if has_python and register_python %}
                Install for just me, and register as system Python:$\n\
                    > $EXEFILE /RegisterPython=1$\n\
                $\n\
{%- endif %}
{%- if initialize_conda %}
                Install for just me and add to PATH:$\n\
                    > $EXEFILE /AddToPath=1$\n\
                $\n\
{%- endif %}
                Install for just me, with no registry modification (for CI):$\n\
                    > $EXEFILE /NoRegistry=1$\n\
                $\n\
                Install via CLI (no GUI) into C:\${NAME}$\n\
                    > cmd /C START /WAIT $EXEFILE /S /D=C:\${NAME}$\n\
            $\n\
            NOTE: If you install for AllUsers, then the option to AddToPath$\n\
                is disabled (i.e. if /InstallationType=AllUsers, then$\n\
                /AddToPath=1 will be ignored)."
        Abort
    ${EndIf}

    ClearErrors
    ${GetOptions} $ARGV "/InstallationType=" $ARGV_InstallationType
    ${IfNot} ${Errors}
        ${If} $ARGV_InstallationType == "AllUsers"
            StrCpy $InstMode ${ALL_USERS}
        ${Else}
            StrCpy $InstMode ${JUST_ME}
        ${EndIf}
    ${EndIf}


    !if ${REGISTER_PYTHON_OPTION} == 1
        ClearErrors
        ${GetOptions} $ARGV "/RegisterPython=" $ARGV_RegisterPython
        ${IfNot} ${Errors}
            ${If} $ARGV_RegisterPython == "1"
                StrCpy $REG_PY 1
            ${ElseIf} $ARGV_RegisterPython == "0"
                StrCpy $REG_PY 0
            ${EndIf}
        ${Else}
            # If we have Errors, the option is not explicitly set by the user
            StrCpy $REG_PY 0
        ${EndIf}

    !endif

    !if ${INIT_CONDA_OPTION} == 1
        ClearErrors
        ${GetOptions} $ARGV "/AddToPath=" $ARGV_AddToPath
        ${IfNot} ${Errors}
            ${If} $ARGV_AddToPath = "1"
                # To address CVE-2022-26526.
                # In AllUsers install mode, do not allow AddToPath as an option.
                ${If} $InstMode == ${ALL_USERS}
                    MessageBox MB_OK|MB_ICONEXCLAMATION \
                        "/AddToPath=1 is disabled and ignored in 'All Users' installations" /SD IDOK
                    ${Print} "/AddToPath=1 is disabled and ignored in 'All Users' installations"
                    StrCpy $INIT_CONDA 0
                ${Else}
                    StrCpy $INIT_CONDA 1
                ${EndIf}
            ${ElseIf} $ARGV_AddToPath = "0"
                StrCpy $INIT_CONDA 0
            ${EndIf}
        ${Else}
            # If we have Errors, the option is not explicitly set by the user
            StrCpy $INIT_CONDA 0
        ${EndIf}
    !endif

    ClearErrors
    ${GetOptions} $ARGV "/KeepPkgCache=" $ARGV_KeepPkgCache
    ${IfNot} ${Errors}
        ${If} $ARGV_KeepPkgCache = "1"
            StrCpy $Ana_ClearPkgCache_State ${BST_UNCHECKED}
        ${ElseIf} $ARGV_KeepPkgCache = "0"
            StrCpy $Ana_ClearPkgCache_State ${BST_CHECKED}
        ${EndIf}
    ${EndIf}

    ClearErrors
    ${GetOptions} $ARGV "/NoRegistry=" $ARGV_NoRegistry
    ${IfNot} ${Errors}
        ${If} $ARGV_NoRegistry = "1"
            StrCpy $NO_REGISTRY "1"
        ${ElseIf} $ARGV_NoRegistry = "0"
            StrCpy $NO_REGISTRY "0"
        ${EndIf}
    ${EndIf}

    ClearErrors
    ${GetOptions} $ARGV "/NoScripts=" $ARGV_NoScripts
    ${IfNot} ${Errors}
        ${If} $ARGV_NoScripts = "1"
            StrCpy $Ana_PostInstall_State ${BST_UNCHECKED}
        ${ElseIf} $ARGV_NoScripts = "0"
            StrCpy $Ana_PostInstall_State ${BST_CHECKED}
        ${EndIf}
    ${EndIf}

    ${If} "${ENABLE_SHORTCUTS}" == "yes"
        ClearErrors
        ${GetOptions} $ARGV "/NoShortcuts=" $ARGV_NoShortcuts
        ${IfNot} ${Errors}
            ${If} $ARGV_NoShortcuts = "1"
                StrCpy $Ana_CreateShortcuts_State ${BST_UNCHECKED}
            ${ElseIf} $ARGV_NoShortcuts = "0"
                StrCpy $Ana_CreateShortcuts_State ${BST_CHECKED}
            ${EndIf}
        ${EndIf}
    ${Else}
        StrCpy $Ana_CreateShortcuts_State ${BST_UNCHECKED}
    ${EndIf}

    ClearErrors
    ${GetOptions} $ARGV "/Q" $ARGV_QuietMode
    ${IfNot} ${Errors}
        StrCpy $QuietMode "1"
    ${EndIf}

!macroend

Function InstModePage_RadioButton_OnClick
    Exch $0
    Push $1
    Push $2

    nsDialogs::GetUserData $0
    Pop $1
    GetDlgItem $2 $HWNDParent 1
    SendMessage $2 ${BCM_SETSHIELD} 0 $1

    Pop $2
    Pop $1
    Exch $0
FunctionEnd

Function InstModePage_Create
    Push $0
    Push $1
    Push $2
    Push $3

    ${If} ${UAC_IsInnerInstance}
        Abort
    ${EndIf}

    !insertmacro MUI_HEADER_TEXT_PAGE \
        "Select Installation Type" \
        "Please select the type of installation you would like to perform \
         for ${PRODUCT_NAME}."

    GetFunctionAddress $0 InstModePage_RadioButton_OnClick
    nsDialogs::Create /NOUNLOAD 1018
    Pop $1
    ${NSD_OnBack} RemoveNextBtnShield
    ${NSD_CreateLabel} 0 20u 75% 20u "Install for:"
    ${NSD_CreateRadioButton} 0 40u 75% 15u "Just Me (recommended)"
    Pop $2
    #MessageBox MB_OK "OnClick 2! 0: $0, 1: $1, 2: $2"
    StrCpy $InstModePage_RadioButton_JustMe $2

    nsDialogs::OnClick $2 $0
    nsDialogs::SetUserData $2 0
    SendMessage $2 ${BM_CLICK} 0 0

    ${NSD_CreateRadioButton} 0 60u 75% 15u \
        "All Users (requires admin privileges)"
    #MessageBox MB_OK "OnClick 3! 0: $0, 1: $1, 2: $2, 3: $3"
    Pop $3
    StrCpy $InstModePage_RadioButton_AllUsers $3
    nsDialogs::OnClick $3 $0
    nsDialogs::SetUserData $3 1
    ${IfThen} $InstMode <> ${JUST_ME} ${|} SendMessage $3 ${BM_CLICK} 0 0 ${|}
    Push $3
    nsDialogs::Show

    Pop $3
    Pop $2
    Pop $1
    Pop $0
FunctionEnd

Function DisableBackButtonIfUACInnerInstance
    Push $0
    ${If} ${UAC_IsInnerInstance}
        GetDlgItem $0 $HWNDParent 3
        EnableWindow $0 0
    ${EndIf}
    Pop $0
FunctionEnd

Function RemoveNextBtnShield
    Push $0
    GetDlgItem $0 $HWNDParent 1
    SendMessage $0 ${BCM_SETSHIELD} 0 0
    Pop $0
FunctionEnd

Function InstModeChanged
    # When using the installer with /S (silent mode), the /D option sets $INSTDIR,
    # and it is therefore important not to overwrite $INSTDIR here, but it is also
    # important that we do call SetShellVarContext with the appropriate value.
    Push $0
    ${If} $InstMode = ${JUST_ME}
        SetShellVarContext Current
        # If we're on Vista+, the installation directory will
        # have a nice, no-space name like:
        #   C:\Users\Trent\AppData\Local\Continuum\Anaconda.
        # On 2003/XP, it will be in C:\Documents and Settings,
        # with a space. We're allowing spaces now.
        ${IfNot} ${Silent}
            StrCpy $INSTDIR $INSTDIR_JUSTME
        ${EndIf}
    ${Else}
        SetShellVarContext All
        ${IfNot} ${Silent}
            ExpandEnvStrings $0 ${DEFAULT_PREFIX_ALL_USERS}
            StrCpy $INSTDIR $0
        ${Endif}
    ${EndIf}
    Pop $0
FunctionEnd

!macro SetInstMode mode
    StrCpy $InstMode ${mode}
    Call InstModeChanged
!macroend

Function InstModePage_Leave
    Push $0
    Push $1
    Push $2

    ${NSD_GetState} $InstModePage_RadioButton_AllUsers $0
    ${If} $0 = 0
        !insertmacro SetInstMode ${JUST_ME}
    ${Else}
        !insertmacro SetInstMode ${ALL_USERS}
        ${IfNot} ${UAC_IsAdmin}
            !insertmacro DoElevation
        ${EndIf}
    ${EndIf}

    Pop $2
    Pop $1
    Pop $0
FunctionEnd

Function .onInit
    Push $0
    Push $1
    Push $2
    Push $R1
    Push $R2

    # 1. Initialize core options default values and other variables
    Call mui_AnaCustomOptions_InitDefaults
    Call InitializeVariables

    # 2. Account finally for CLI to potentially override core default values
    ${If} ${Silent}
        !insertmacro ParseCommandLineArgs
    ${EndIf}

    InitPluginsDir
{%- if TEMP_EXTRA_FILES | length != 0 %}
    SetOutPath $PLUGINSDIR
{%- for file in TEMP_EXTRA_FILES %}
    File "{{ file }}"
{%- endfor %}
{%- endif %}

    # Select the correct registry to look at, depending
    # on whether it's a 32-bit or 64-bit installer
    SetRegView {{ BITS }}
{%- if win64 %}
    # If we're a 64-bit installer, make sure it's 64-bit Windows
    ${IfNot} ${RunningX64}
        MessageBox MB_OK|MB_ICONEXCLAMATION \
            "This installer is for a 64-bit version for ${NAME}$\n\
            but your system is 32-bit. Please use the 32-bit Windows$\n\
            ${NAME} installer." \
            /SD IDOK
        Abort
    ${EndIf}
{%- endif %}

    !insertmacro UAC_PageElevation_OnInit
    ${If} ${UAC_IsInnerInstance}
    ${AndIfNot} ${UAC_IsAdmin}
        SetErrorLevel 0x666
        Quit
    ${EndIf}

    # Look for a number of signs that indicate the user is a domain user and
    # alter the default installation directory for 'Just Me' accordingly.  We
    # want to ensure that if we're a user domain account, we always install to
    # %LOCALAPPDATA% (i.e. C:\Users\Trent\AppData\Local\Continuum\Anaconda),
    # as this is the only place guaranteed to not be backed by a network share
    # or included in a user's roaming profile.  However, if we're a normal user
    # account, then C:\Users\Trent\Anaconda is fine.
    ReadEnvStr $0 USERDNSDOMAIN
    ${If} $0 != ""
        # If not null, USERDNSDOMAIN is an unambiguous indication that we're
        # logged into a domain account.
        StrCpy $IsDomainUser 1
    ${Else}
        # If it's not set, apply some simple heuristics to discern whether or
        # not we're logged in as a domain user.
        ReadEnvStr $0 LOGONSERVER
        ${If} $0 == ""
            # This should never be unset; but if it is, we're definitely not
            # a domain user.
            StrCpy $IsDomainUser 0
        ${Else}
            StrCpy $1 $0 "" 2               # lop-off the leading \\.
            ${StrFilter} $1 "+" "" "" $2    # convert to uppercase, store in $2
            ${If} $2 == "MICROSOFTACCOUNT"
                # The new Windows 8.x live accounts have \\MicrosoftAccount
                # set as LOGONSERVER; interpret this as being a non-domain
                # user.
                StrCpy $IsDomainUser 0
            ${Else}
                ReadEnvStr $R1 COMPUTERNAME
                ${If} $R1 == ""
                    # This should never be unset either; if it is, assume
                    # we're not a domain user.
                    StrCpy $IsDomainUser 0
                ${Else}
                    # We've got a value for both LOGONSERVER and COMPUTERNAME
                    # environment variables (which should always be the case).
                    # Proceed to compare LOGONSERVER[-2:] to COMPUTERNAME; if
                    # they match, assume we're not a domain user account.

                    ${StrFilter} $R1 "+" "" "" $R2 # convert to uppercase
                    ${If} $2 != $R2
                        # COMPUTERNAME doesn't match LOGONSERVER; assume we're
                        # logged in via a domain account.
                        StrCpy $IsDomainUser 1
                    ${Else}
                        # COMPUTERNAME matches LOGONSERVER; safe to assume
                        # we're logged in as a user account.  (I guess there's
                        # the remote possibility a domain user has logged onto
                        # a server that has the same NetBIOS name as the Active
                        # Directory name...  if that's the case, potentially
                        # installing Anaconda into an area that gets picked up
                        # by a roaming profile is the very least of your
                        # problems.)
                        StrCpy $IsDomainUser 0

                    ${EndIf} # LOGONSERVER[-2:] != COMPUTERNAME

                ${EndIf} # COMPUTERNAME != ""

            ${EndIf} # LOGONSERVER != "\\MicrosoftAccount"

        ${EndIf} # LOGONSERVER != ""

    ${EndIf} # USERDNSDOMAIN != ""

    ${If} $IsDomainUser = 0
        ExpandEnvStrings $0 ${DEFAULT_PREFIX}
        StrCpy $INSTDIR_JUSTME $0
    ${ElseIf} $IsDomainUser = 1
        ExpandEnvStrings $0 ${DEFAULT_PREFIX_DOMAIN_USER}
        StrCpy $INSTDIR_JUSTME $0
    ${Else}
        # Should never happen; indicates a logic error above.
        MessageBox MB_OK "Internal error: IsUserDomain not set properly!" \
                   /SD IDOK
        Abort
    ${EndIf}

    ${If} $InstMode == ""
        StrCpy $InstMode ${JUST_ME}
        ${IfThen} ${UAC_IsAdmin} ${|} StrCpy $InstMode ${ALL_USERS} ${|}
        # If running as 'SYSTEM' then JustMe is not appropriate; note that
        # we should advise against this. SCCM has an option to run as user
        System::Call "advapi32::GetUserName(t .r0, *i ${NSIS_MAX_STRLEN} r1) i.r2"
        ${IfThen} $0 == "SYSTEM" ${|} StrCpy $InstMode ${ALL_USERS} ${|}
    ${EndIf}
    call InstModeChanged

    ${If} ${Silent}
        ${If} $InstMode == ${ALL_USERS}
            ${IfNot} ${UAC_IsAdmin}
                MessageBox MB_ICONSTOP "Installation for all users requires an elevated prompt."
                Abort
            ${EndIf}
        ${EndIf}
    ${EndIf}

    ; /D was not used, add default based on install type
    ${If} $InstDir == ""
        ${If} $InstMode == ${ALL_USERS}
            ExpandEnvStrings $0 ${DEFAULT_PREFIX_ALL_USERS}
            StrCpy $INSTDIR $0
        ${Else}
            strcpy $INSTDIR $INSTDIR_JUSTME
        ${EndIf}
    ${EndIf}

    ${Print} "Welcome to ${NAME} ${VERSION}$\n"

    Pop $R2
    Pop $R1
    Pop $2
    Pop $1
    Pop $0
FunctionEnd

!macro un.ParseCommandLineArgs
    ClearErrors
    ${GetParameters} $ARGV
    ${GetOptions} $ARGV "/?" $ARGV_Help
    ${IfNot} ${Errors}
        SetSilent silent
        ${Print} "\
            Uninstalls ${NAME} ${VERSION}$\n\
            $\n\
            USAGE$\n\
            -----$\n\
            $\n\
            Uninstall-${NAME}.exe [options]$\n\
            $\n\
            OPTIONS$\n\
            -------$\n\
            $\n\
                /? (show this help message)$\n\
                /S (run in CLI/headless mode)$\n\
                /Q (quiet mode, do not print output to console)$\n\
{%- if uninstall_with_conda_exe %}
                /RemoveCaches=[0|1] [default: 0]$\n\
                /RemoveConfigFiles=[none|users|system|all] [default: none]$\n\
                /RemoveUserData=[0|1] [default: 0]$\n\
{%- endif %}
                /_?=[installation directory] (must be last parameter)$\n\
            $\n\
            EXAMPLES$\n\
            --------$\n\
            $\n\
            Uninstall via CLI (no GUI) from C:\${NAME}$\n\
                > cmd /C START /WAIT Uninstall-${NAME}.exe /S /_?=C:\${NAME}$\n\
            $\n\
            Closing in 10s..."
        # Give it some time so users can read it the pop-up console
        # The pop-up console happens because the uninstaller copies itself to
        # a temporary location, so we can't get the parent console handle
        Sleep 10000
        Abort
    ${EndIf}

    ClearErrors
    ${GetOptions} $ARGV "/Q" $ARGV_QuietMode
    ${IfNot} ${Errors}
        StrCpy $QuietMode "1"
    ${EndIf}
{%- if uninstall_with_conda_exe %}
    ClearErrors
    ${GetOptions} $ARGV "/RemoveConfigFiles=" $ARGV_Uninst_RemoveConfigFiles
    ${IfNot} ${Errors}
        ${IfNot} ${UAC_IsAdmin}
            ${If} $ARGV_Uninst_RemoveConfigFiles == "all"
            ${OrIf} $ARGV_Uninst_RemoveConfigFiles == "system"
                MessageBox MB_ICONSTOP "Removing system .condarc files requires an elevated prompt."
                Abort
            ${EndIf}
        ${EndIf}
        ${If} $ARGV_Uninst_RemoveConfigFiles == "user"
            StrCpy $UninstRemoveConfigFiles_User_State ${BST_CHECKED}
            StrCpy $UninstRemoveConfigFiles_System_State ${BST_UNCHECKED}
        ${ElseIf} $ARGV_Uninst_RemoveConfigFiles == "system"
            StrCpy $UninstRemoveConfigFiles_User_State ${BST_UNCHECKED}
            StrCpy $UninstRemoveConfigFiles_System_State ${BST_CHECKED}
        ${ElseIf} $ARGV_Uninst_RemoveConfigFiles == "all"
            StrCpy $UninstRemoveConfigFiles_User_State ${BST_CHECKED}
            StrCpy $UninstRemoveConfigFiles_System_State ${BST_CHECKED}
        ${Else}
            StrCpy $UninstRemoveConfigFiles_User_State ${BST_UNCHECKED}
            StrCpy $UninstRemoveConfigFiles_System_State ${BST_UNCHECKED}
        ${EndIf}
    ${EndIf}

    ClearErrors
    ${GetOptions} $ARGV "/RemoveUserData=" $ARGV_Uninst_RemoveUserData
    ${IfNot} ${Errors}
        ${If} $ARGV_Uninst_RemoveUserData = "1"
            StrCpy $UninstRemoveUserData_State ${BST_CHECKED}
        ${ElseIf} $ARGV_Uninst_RemoveUserData = "0"
            StrCpy $UninstRemoveUserData_State ${BST_UNCHECKED}
        ${EndIf}
    ${EndIf}

    ClearErrors
    ${GetOptions} $ARGV "/RemoveCaches=" $ARGV_Uninst_RemoveCaches
    ${IfNot} ${Errors}
        ${If} $ARGV_Uninst_RemoveCaches = "1"
            StrCpy $UninstRemoveCaches_State ${BST_CHECKED}
        ${ElseIf} $ARGV_Uninst_RemoveCaches = "0"
            StrCpy $UninstRemoveCaches_State ${BST_UNCHECKED}
        ${EndIf}
    ${EndIf}
{%- endif %}
!macroend

Function un.onInit

{%- if uninstall_with_conda_exe %}
    Call un.UninstCustomOptions_InitDefaults
{%- endif %}

    Push $0
    Push $1
    Push $2
    Push $3

    # Resolve INSTDIR
    GetFullPathName $0 $INSTDIR
    # If the directory does not exist or cannot be resolved, $0 will be empty
    StrCmp $0 "" invalid_dir
    StrCpy $INSTDIR $0

    # Never run the uninstaller when $INSTDIR points at system-critical directories

    StrLen $InstDirLen $INSTDIR
    # INSTDIR is a full path and has no trailing backslash,
    # so if its length is 2, it is pointed at a system root
    StrCmp $InstdirLen 2 invalid_dir

    # Never delete anything inside Windows
    StrCpy $0 $INSTDIR 7 3
    StrCmp $0 "Windows" invalid_dir

    StrCpy $0 "ALLUSERSPROFILE APPDATA LOCALAPPDATA PROGRAMDATA PROGRAMFILES PROGRAMFILES(x86) PUBLIC SYSTEMDRIVE SYSTEMROOT USERPROFILE"
    StrCpy $1 1
    loop_critical:
        ${WordFind} $0 " " "E+$1" $2
        IfErrors endloop_critical
        ReadEnvStr $3 $2
        StrCmp $3 $INSTDIR invalid_dir
        IntOp $1 $1 + 1
        goto loop_critical
    endloop_critical:

    # Primitive check to see that $INSTDIR points to a conda directory
    StrCpy $0 "_conda.exe conda-meta\history"
    StrCpy $1 1
    loop_conda:
        ${WordFind} $0 " " "E+$1" $2
        IfErrors endloop_conda
        IfFileExists $INSTDIR\$2 0 invalid_dir
        IntOp $1 $1 + 1
        goto loop_conda
    endloop_conda:

    # All checks have passed
    goto valid_dir

    invalid_dir:
        ${Print} "::error:: $INSTDIR is not a valid conda directory. Please run the uninstaller from a conda directory."
        MessageBox MB_OK|MB_ICONSTOP \
            "Error: $INSTDIR is not a valid conda directory. Please run the uninstaller from a conda directory." \
            /SD IDABORT
        abort
    valid_dir:

    # Select the correct registry to look at, depending
    # on whether it's a 32-bit or 64-bit installer
    SetRegView {{ BITS }}

    # Since the switch to a dual-mode installer (All Users/Just Me), the
    # uninstaller will inherit the requested execution level of the main
    # installer -- which we now have to set to 'user'.  Thus, Windows will
    # not automatically elevate the uninstaller for us -- we need to do it
    # ourselves if we're not a 'Just Me' installation.
    !insertmacro UAC_PageElevation_OnInit
    ${IfNot} ${FileExists} "$INSTDIR\.nonadmin"
    ${AndIfNot} ${UAC_IsAdmin}
        !insertmacro DoElevation
    ${EndIf}

    ${If} ${FileExists} "$INSTDIR\.nonadmin"
        SetShellVarContext Current
    ${Else}
        SetShellVarContext All
    ${EndIf}

    Pop $3
    Pop $2
    Pop $1
    Pop $0
FunctionEnd

# http://nsis.sourceforge.net/Check_for_spaces_in_a_directory_path
Function CheckForSpaces
    Exch $R0
    Push $R1
    Push $R2
    Push $R3
    StrCpy $R1 -1
    StrCpy $R3 $R0
    StrCpy $R0 0
    loop:
        StrCpy $R2 $R3 1 $R1
        IntOp $R1 $R1 - 1
        StrCmp $R2 "" done
        StrCmp $R2 " " 0 loop
        IntOp $R0 $R0 + 1
    Goto loop
    done:
    Pop $R3
    Pop $R2
    Pop $R1
    Exch $R0
FunctionEnd

# http://nsis.sourceforge.net/StrCSpn,_StrCSpnReverse:_Scan_strings_for_characters
Function StrCSpn
 Exch $R0 ; string to check
 Exch
 Exch $R1 ; string of chars
 Push $R2 ; current char
 Push $R3 ; current char
 Push $R4 ; char loop
 Push $R5 ; char loop

  StrCpy $R4 -1

  NextChar:
  StrCpy $R2 $R1 1 $R4
  IntOp $R4 $R4 - 1
   StrCmp $R2 "" StrOK

   StrCpy $R5 -1

   NextCharCheck:
   StrCpy $R3 $R0 1 $R5
   IntOp $R5 $R5 - 1
    StrCmp $R3 "" NextChar
    StrCmp $R3 $R2 0 NextCharCheck
     StrCpy $R0 $R2
     Goto Done

 StrOK:
 StrCpy $R0 ""

 Done:

 Pop $R5
 Pop $R4
 Pop $R3
 Pop $R2
 Pop $R1
 Exch $R0
FunctionEnd

# http://stackoverflow.com/a/29569614/1170370
!macro _IsNonEmptyDirectory _a _b _t _f
!insertmacro _LOGICLIB_TEMP
!insertmacro _IncreaseCounter
Push $0
FindFirst $0 $_LOGICLIB_TEMP "${_b}\*"
_IsNonEmptyDirectory_loop${LOGICLIB_COUNTER}:
    StrCmp "" $_LOGICLIB_TEMP _IsNonEmptyDirectory_done${LOGICLIB_COUNTER}
    StrCmp "." $_LOGICLIB_TEMP +2
    StrCmp ".." $_LOGICLIB_TEMP 0 _IsNonEmptyDirectory_done${LOGICLIB_COUNTER}
    FindNext $0 $_LOGICLIB_TEMP
    Goto _IsNonEmptyDirectory_loop${LOGICLIB_COUNTER}
_IsNonEmptyDirectory_done${LOGICLIB_COUNTER}:
FindClose $0
Pop $0
!insertmacro _!= "" $_LOGICLIB_TEMP `${_t}` `${_f}`
!macroend
!define IsNonEmptyDirectory `"" IsNonEmptyDirectory`


Function OnDirectoryLeave
    ${If} ${IsNonEmptyDirectory} "$InstDir"
        ${Print} "::error:: Directory '$INSTDIR' is not empty, please choose a different location."
        MessageBox MB_OK|MB_ICONEXCLAMATION \
            "Directory '$INSTDIR' is not empty,$\n\
             please choose a different location." \
            /SD IDOK
        Abort
    ${EndIf}

    ReadRegStr $LongPathsEnabled HKLM "SYSTEM\CurrentControlSet\Control\FileSystem" "LongPathsEnabled"
    StrLen $InstDirLen "$InstDir"

    # MAX_PATH check - installation will fail if path exceeds 260 characters
    # If running as admin on Windows 10+, automatically enable long path support
    ${If} $LongPathsEnabled == "0"
        IntOp $0 $InstDirLen + ${MAX_RELATIVE_PATH_LENGTH}
        IntOp $0 $0 + 1  # Account for path separator between install dir and relative path
        ${If} $0 > 260
            ${If} ${AtLeastWin10}
            ${AndIfNot} $NO_REGISTRY = "1"
            ${AndIf} ${UAC_IsAdmin}
                # Enable long path support via registry
                WriteRegDWORD HKLM "SYSTEM\CurrentControlSet\Control\FileSystem" "LongPathsEnabled" 1
            ${Else}
                IntOp $1 260 - ${MAX_RELATIVE_PATH_LENGTH}
                IntOp $1 $1 - 1  # Account for path separator
                ${If} ${Silent}
                    ${Print} "::error:: The installation path is too long. Your path is $InstDirLen characters, but must be at most $1 characters."
                ${Else}
                    MessageBox MB_OK|MB_ICONSTOP \
                        "The installation path is too long.$\n$\n\
                        Your path is $InstDirLen characters, but must be at most $1 characters.$\n$\n\
                        Please choose a shorter installation path." \
                        /SD IDOK
                ${EndIf}
                Abort
            ${EndIf}
        ${EndIf}
    ${EndIf}

    # Call the CheckForSpaces function.
    Push $INSTDIR # Input string (install path).
    Call CheckForSpaces
    Pop $R0 # The function returns the number of spaces found in the input string.

    Push $R7
    Push $R8
    Push $R9
    # Check if any spaces exist in $INSTDIR.
    StrCmp $R0 0 NoSpaces

        # Plural if more than 1 space in $INSTDIR.
        StrCmp $R0 1 0 +3
          StrCpy $R1 ""
        Goto +2
          StrCpy $R1 "s"

        ${If} ${Silent}
          StrCpy $R7 " "
        ${Else}
          StrCpy $R7 "$\n"
        ${EndIf}
        StrCpy $R8 "'Destination Folder' contains $R0 space$R1.$R7This can cause problems with several conda packages.$R7"
{%- if check_path_spaces %}
            StrCpy $R8 "$R8Please remove the space$R1 from the destination folder."
            StrCpy $R9 "Error"
{%- else %}
            StrCpy $R8 "$R8Please consider removing the space$R1."
            StrCpy $R9 "Warning"
{%- endif %}
        # Show message box then take the user back to the Directory page.
        ${If} ${Silent}
            ${Print} "::$R9:: $R8"
        ${Else}
            MessageBox MB_OK|MB_ICONINFORMATION "$R9: $R8" /SD IDOK
        ${EndIf}
{%- if check_path_spaces %}
            abort
{%- endif %}
    NoSpaces:
    Pop $R7
    Pop $R8
    Pop $R9

    # List of characters not allowed anywhere in $INSTDIR
    Push "^%!=,()"
    Push $INSTDIR
    Call StrCSpn
    Pop $R0

    StrCmp $R0 "" NoInvalidCharaceters
        ${Print} "::error:: 'Destination Folder' contains the following invalid character: $R0"
        MessageBox MB_OK|MB_ICONEXCLAMATION \
            "Error: 'Destination Folder' contains the following invalid character: $R0" \
            /SD IDOK
        abort
    NoInvalidCharaceters:

    UnicodePathTest::SpecialCharPathTest $INSTDIR
    Pop $R1
    StrCmp $R1 "nothingspecial" nothing_special_path
        ${Print} "::error:: 'Destination Folder' contains the following invalid character$R1"
        MessageBox MB_OK|MB_ICONEXCLAMATION \
            "Error: 'Destination Folder' contains the following invalid character$R1" \
            /SD IDOK
        abort
    nothing_special_path:

      ; test if path contains unicode characters
      UnicodePathTest::UnicodePathTest $INSTDIR
      Pop $R1

{%- if has_python %}
      # Python 3 can be installed in a CP_ACP path until MKL is Unicode capable.
      # (mkl_rt.dll calls LoadLibraryA() to load mkl_intel_thread.dll)
      # Python 2 can only be installed to an ASCII path.
      StrCmp $R1 "ascii" valid_path
      StrCmp ${PY_VER} "2.7" not_cp_acp_capable
      StrCmp $R1 "ascii_cp_acp" valid_path
      not_cp_acp_capable:
          ${Print} "::error:: Due to incompatibility with several \
              Python libraries, 'Destination Folder' cannot contain non-ascii characters \
              (special characters or diacritics).  Please choose another location."
          MessageBox MB_OK|MB_ICONEXCLAMATION "Error: Due to incompatibility with several \
              Python libraries, 'Destination Folder' cannot contain non-ascii characters \
              (special characters or diacritics).  Please choose another location." \
              /SD IDOK
          abort

      valid_path:
{%- endif %}

    Push $R1
    ${IsWritable} $INSTDIR $R1
    IntCmp $R1 0 pathgood
    Pop $R1
    ${Print} "::error: Path $INSTDIR is not writable. Please check permissions or \
                 try respawning the installer with elevated privileges."
    MessageBox MB_OK|MB_ICONEXCLAMATION \
        "Error: Path $INSTDIR is not writable. Please check permissions or \
         try respawning the installer with elevated privileges." \
        /SD IDOK
    Abort

    pathgood:
    Pop $R1

FunctionEnd

Function .onVerifyInstDir
    StrLen $0 $Desktop
    StrCpy $0 $INSTDIR $0
    StrCmp $0 $Desktop 0 PathGood
    Abort
    PathGood:
FunctionEnd

Function un.OnDirectoryLeave
    MessageBox MB_YESNO \
	    "Are you sure you want to remove '$INSTDIR' and all of its contents?" \
	    /SD IDYES \
	    IDYES confirmed_yes IDNO confirmed_no
    confirmed_no:
        MessageBox MB_OK|MB_ICONSTOP "Uninstallation aborted by user." /SD IDOK
	Quit
    confirmed_yes:
FunctionEnd

# Make functions available for both installer and uninstaller
# Uninstaller functions need an `un.` prefix, so we use a macro to do both
# see https://nsis.sourceforge.io/Sharing_functions_between_Installer_and_Uninstaller
!macro FunctionTemplates un
    Function ${un}PrintFromStepLog
        Exch $R0
        Push $R1
        Push $R2
        ClearErrors
        FileOpen $R1 "${STEP_LOG}" r
        IfErrors close_file
        read_line:
            FileRead $R1 $R2
            IfErrors close_file
            ${If} $R0 == "ToConsole"
            ${OrIf} $R0 == "both"
                ${PrintToConsole} "$R2"
            ${EndIf}
            ${If} $R0 == "ToLog"
            ${OrIf} $R0 == "both"
                ${LogText} "$R2"
            ${EndIf}
            goto read_line
        close_file:
            FileClose $R1
        Pop $R2
        Pop $R1
        Pop $R0
    FunctionEnd

    Function ${un}AbortRetryNSExecWait
        # This function expects three arguments in the stack
        # $R1: 'WithLog' or 'NoLog': Use ExecToLog or just Exec, respectively
        # $R2: The message to show if an error occurred
        # $R3: The command to run, quoted
        # Note that the args need to be pushed to the stack in reverse order!
        # Search 'AbortRetryNSExecWait' in this script to see examples
        Pop $R1
        Pop $R2
        Pop $R3
        ${Do}
            # Execute command inside a subshell to catch issues with command execution.
            # When binaries are executed with Exec or ExectToLog, only the output of these
            # commands are logged. If they do not start successfully (e.g., if they don't exist),
            # no error messages are returned. Using a subshell reveals these kinds of issues.
            # Enable delayed expansion so that error levels are parsed at runtime instead of
            # parse time.
            StrCpy $R3 '"$CMD_EXE" /V:ON /D /C "$R3"'
            ${If} $R1 == "WithLog"
                nsExec::ExecToLog $R3
            ${ElseIf} $R1 == "NoLog"
                nsExec::Exec $R3
            ${Else}
                ${Print} "::error:: AbortRetryNSExecWait: 1st argument must be 'WithLog' or 'NoLog'. You used: $R1"
                Abort
            ${EndIf}
            pop $R0
            ${If} $R1 == "WithLog"
            ${AndIf} ${FileExists} "${STEP_LOG}"
                ${If} ${Silent}
                    push "both"
                    Call ${un}PrintFromStepLog
                ${Else}
                    push "ToLog"
                    Call ${un}PrintFromStepLog
                ${EndIf}
            ${EndIf}
            ${If} $R0 != "0"
                # Always print on error
                ${If} $R1 == "NoLog"
                ${AndIf} ${FileExists} "${STEP_LOG}"
                    Push "both"
                    Call ${un}PrintFromStepLog
                ${EndIf}
                ${Print} "::error:: $R2"
                MessageBox MB_ABORTRETRYIGNORE|MB_ICONEXCLAMATION|MB_DEFBUTTON1 \
                        $R2 /SD IDABORT IDABORT abort IDRETRY retry
                ; IDIGNORE: Continue anyway
                StrCpy $R0 "0"
                goto retry
            abort:
                ; Abort installation
                Abort
            retry:
                ; Retry the nsExec command
            ${EndIf}
            ${If} ${FileExists} "${STEP_LOG}"
                Delete "${STEP_LOG}"
            ${EndIf}
        ${LoopWhile} $R0 != "0"
    FunctionEnd
!macroend
!insertmacro FunctionTemplates ""
!insertmacro FunctionTemplates "un."

{%- set pathname = "$INSTDIR\\condabin" if initialize_conda == "condabin" else "$INSTDIR\\Scripts & Library\\bin" %}
!macro AddRemovePath add_remove un
{# python.exe is required if conda-standalone does not support the windows subcommand (<25.11.x) #}
{%- if needs_python_exe %}
    ${If} ${add_remove} == "add"
{%-     if initialize_conda == 'condabin' %}
        ${Print} "Adding {{ pathname }} PATH..."
        StrCpy $R0 "addcondabinpath"
{%-     else %}
        ${Print} "Adding {{ pathname }} to PATH..."
        StrCpy $R0 "addpath ${PYVERSION} ${NAME} ${VERSION} ${ARCH}"
{%- endif %}
        StrCpy $R1 "Failed to add {{ NAME }} to PATH"
    ${Else}
        ${Print} "Running rmpath script..."
        StrCpy $R0 "rmpath"
        StrCpy $R1 "Failed to remove {{ NAME }} from PATH"
    ${EndIf}
    # `type` is used to simulate a `tee`-like output in cmd.exe
    push '"$INSTDIR\python.exe" -E -s "$INSTDIR\Lib\_nsis.py" $R0 > "${STEP_LOG}" 2>&1 & SET ERR=!ERRORLEVEL! & type "${STEP_LOG}" & EXIT /B !ERR!'
    push $R1
    push 'WithLog'
    call ${un}AbortRetryNSExecWait
{%- else %}
{%- set pathflag = "--condabin" if initialize_conda == "condabin" else "--classic" %}
    ${If} ${add_remove} == "add"
        ${Print} "Adding {{ pathname }} to PATH..."
        StrCpy $R0 "prepend"
        StrCpy $R1 'Failed to add {{ NAME }} to PATH'
    ${Else}
        ${Print} "Removing {{ pathname }} from PATH..."
        StrCpy $R0 "remove"
        StrCpy $R1 'Failed to remove {{ NAME }} from PATH'
    ${EndIf}
    push '"$INSTDIR\_conda.exe" constructor windows path --$R0=user --prefix "$INSTDIR" {{ pathflag }} {{ CONDA_LOG_ARG }}'
    push $R1
    push 'WithLog'
    call ${un}AbortRetryNSExecWait
{%- endif %}
!macroend

!macro setInstdirPermissions
    # To address CVE-2022-26526.
    # Revoke the write permission on directory "$INSTDIR" for Users. Users are:
    #   AU - authenticated users (NT AUTHORITY\Authenticated Users)
    #   BU - built-in (local) users (BUILTIN\Users)
    #   DU - domain users  (<domain name>\DOMAIN USERS)
    # This also applies for single-user installations to avoid giving other users
    # full access on shared drives.
    ${If} ${UAC_IsAdmin}
        StrCpy $0 "(AU) (BU) (DU)"
    ${Else}
        # Not every directory grants write access to Users (e.g., %USERPROFILE%),
        # so test whether user groups have the necessary rights.
        nsExec::ExecToStack '"$ICACLS_EXE" "$INSTDIR"'
        Pop $R0
        Pop $R1
        ${If} $R0 != "0"
          StrCpy $R1 \
              "Unable to determine the defaults permissions of the installation directory. "\
              "Ensure that you have read access to $INSTDIR and icacls.exe is in your PATH."
          ${Print} $R1
          MessageBox MB_ICONSTOP $R1
          Abort
        ${EndIf}
        StrCpy $0 ""
        StrCpy $R2 "NT AUTHORITY\Authenticated Users|BUILTIN\Users|\Domain Users"
        StrCpy $R3 "(AU)|(BU)|(DU)"
        StrCpy $R4 1
        loop_single_user_default_access:
            ${WordFind} $R2 "|" "E+$R4" $R5
            ${WordFind} $R3 "|" "E+$R4" $R6
            IfErrors endloop_single_user_default_access
            ${StrStr} $R7 $R1 $R5
            ${If} $R7 == ""
                goto increment_loop_single_user_default_access
            ${EndIf}
            # If the user group has a deny permission directive, do not change permissions.
            # Granting (RX) permissions may increase the permissions that are inherited and
            # it is very unlikely that a user is granted write permissions but denied others.
            ${StrStr} $R7 $R1 "$R5:(D)"
            ${If} $R7 != ""
                goto increment_loop_single_user_default_access
            ${EndIf}
            StrCpy $0 "$0 $R6"
            increment_loop_single_user_default_access:
            IntOp $R4 $R4 + 1
            goto loop_single_user_default_access
        endloop_single_user_default_access:
    ${EndIf}
    AccessControl::DisableFileInheritance "$INSTDIR"
    ${If} $0 != ""
        StrCpy $1 1
        loop_access:
            ${WordFind} $0 " " "E+$1" $2
            IfErrors endloop_access
            AccessControl::RevokeOnFile "$INSTDIR" "$2" "GenericWrite"
            AccessControl::SetOnFile "$INSTDIR" "$2" "GenericRead + GenericExecute"
            IntOp $1 $1 + 1
            goto loop_access
        endloop_access:
    ${EndIf}
    ${IfNot} ${UAC_IsAdmin}
        # Ensure that creator has full access
        ReadEnvStr $R0 USERDOMAIN
        ReadEnvStr $R1 USERNAME
        ${If} $R0 == ""
          AccessControl::SetOnFile "$INSTDIR" "$R1" "FullAccess"
        ${Else}
          AccessControl::SetOnFile "$INSTDIR" "$R0\$R1" "FullAccess"
        ${EndIf}
    ${EndIf}
!macroend

# Installer sections
Section "Install"
    ${If} ${Silent}
        call OnDirectoryLeave
    ${EndIf}

    !insertmacro FindWindowsBinaries

    SetOutPath "$INSTDIR"
    ${LogSet} on

    # Resolve INSTDIR so that paths and registry keys do not contain '..' or similar strings.
    # $0 is empty if the directory doesn't exist, but the File commands should have created it already.
    GetFullPathName $0 $INSTDIR
    ${If} $0 == ""
	MessageBox MB_ICONSTOP "Error resolving installation directory." /SD IDABORT
	Quit
    ${EndIf}
    StrCpy $INSTDIR $0

    # Restrict permissions immediately after creating $INSTDIR
    # If not, the installation directory may inherit write-permissions
    # for users even during an all-users installation.
    !insertmacro setInstdirPermissions

    # Create the temporary directory inside $INSTDIR so that
    # Windows Defender does not get triggered by conda-standalone
    # being extracted into LOCALAPPDATA
    # See https://github.com/conda/constructor/issues/1243
    StrCpy $TmpDir "$INSTDIR\tmp"
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("TMP", "$TmpDir")'
    CreateDirectory $TmpDir

{% if needs_python_exe %}
    SetOutPath "$INSTDIR\Lib"
    File "{{ NSIS_DIR }}\_nsis.py"
    File "{{ NSIS_DIR }}\_system_path.py"
{% endif %}

{%- if has_license %}
    SetOutPath "$INSTDIR"
    File {{ licensefile }}
    ${Print} "By continuing this installation you are accepting this license agreement:"
    ${Print} "$INSTDIR\{{ LICENSEFILENAME }}"
    ${Print} "Please run the installer in GUI mode to read the details.$\n"
{%- endif %}

    ${Print} "${NAME} will now be installed into this location:"
    ${Print} "$INSTDIR$\n"

    ReadEnvStr $R7 SystemRoot
    # set PATH for the installer process, so that MSVC runtimes get found OK
    #    This is also isolating PATH to be just us and Windows core stuff, which hopefully avoids
    #    clashes with other stuff on PATH
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("PATH", \
                 "$INSTDIR;$INSTDIR\Library\mingw-w64\bin;$INSTDIR\Library\usr\bin;$INSTDIR\Library\bin;$INSTDIR\Scripts;$INSTDIR\bin;$R7;$R7\system32;$R7\system32\Wbem")'

    ${Print} "Unpacking payload..."

    # A conda-meta\history file is required for a valid conda prefix
    SetOutPath "$INSTDIR\conda-meta"
    File {{ conda_history }}

    SetOutPath "$INSTDIR"
    File {{ conda_exe }}
    File {{ pre_uninstall }}
    File {{ installer_info }}

{%- for path, files in EXTRA_FILES | items %}
    SetOutPath "{{ path }}"
{%- for file in files %}
    File "{{ file }}"
{%- endfor %}
{%- endfor %}

    ${If} $InstMode = ${JUST_ME}
        SetOutPath "$INSTDIR"
        FileOpen $0 ".nonadmin" w
        FileClose $0
    ${EndIf}

    SetOutPath "$INSTDIR\pkgs"
    File {{ urls_file }}
    File {{ urls_txt_file }}
{%- if pre_install_exists %}
    File {{ pre_install }}
{%- endif %}
    File {{ post_install }}
    File /nonfatal /r {{ index_cache }}
    File /r {{ repodata_record }}

    System::Call 'Kernel32::SetEnvironmentVariable(t, t) i("INSTALLER_PLUGINSDIR", "$PLUGINSDIR")'
    System::Call 'Kernel32::SetEnvironmentVariable(t, t) i("INSTALLER_PATH", "$EXEPATH")'
{%- for key, escaped_val in SCRIPT_ENV_VARIABLES | items %}
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("{{ key }}", {{ escaped_val }})'
{%- endfor %}
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_SAFETY_CHECKS", "disabled")'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_EXTRA_SAFETY_CHECKS", "no")'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_ROOT_PREFIX", "$INSTDIR")'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_PKGS_DIRS", "$INSTDIR\pkgs")'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_PROTECT_FROZEN_ENVS", "0")'
    # Spinners in conda write a new character with each movement of the spinner.
    # For long installation times, this may cause a buffer overflow, crashing the installer.
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_QUIET", "1")'
    # Extra info for pre and post install scripts
    # NOTE: If more vars are added, make sure to update the examples/scripts tests too
    #       There's a similar block for the pre_uninstall script, further down this file.
    #       Update that one as well!
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("PREFIX", "$INSTDIR")'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_NAME", "${NAME}")'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_VER", "${VERSION}")'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_PLAT", "${PLATFORM}")'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_TYPE", "EXE")'
    ${If} ${Silent}
        System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_UNATTENDED", "1")'
    ${Else}
        System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_UNATTENDED", "0")'
    ${EndIf}
    # Installers should ignore pre-existing configuration files.
    # Note: We want to _unset_ these environment variables, not set them to `0`.
    # This requires passing `0` as an integer, hence the `i` in front.
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDARC", i 0)'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("MAMBARC", i 0)'

    ${If} '{{ VIRTUAL_SPECS }}' != ''
    # We need to specify CONDA_SOLVER=classic for conda-standalone
    # to work around this bug in conda-libmamba-solver:
    # https://github.com/conda/conda-libmamba-solver/issues/480
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_SOLVER", "classic")'
    SetDetailsPrint TextOnly
    ${Print} "Checking virtual specs compatibility: {{ VIRTUAL_SPECS_DEBUG }}"
    push '"$INSTDIR\_conda.exe" create --dry-run --prefix "$INSTDIR\envs\_virtual_specs_checks" --offline {{ VIRTUAL_SPECS }} {{ NO_RCS_ARG }} {{ CONDA_LOG_ARG }}'
    push 'Failed to check virtual specs: {{ VIRTUAL_SPECS_DEBUG }}'
    push 'WithLog'
    call AbortRetryNSExecWait
    SetDetailsPrint both
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_SOLVER", "")'
    ${EndIf}

{%- for dist in DISTS %}
    File {{ dist }}
{%- endfor %}

    ${Print} "Setting up the package cache..."
    push '"$INSTDIR\_conda.exe" constructor --prefix "$INSTDIR" --extract-conda-pkgs {{ CONDA_LOG_ARG }}'
    push 'Failed to extract packages'
    push 'WithLog'
    call AbortRetryNSExecWait

    IfFileExists "$INSTDIR\pkgs\pre_install.bat" 0 NoPreInstall
        ${If} $Ana_PreInstall_State = ${BST_CHECKED}
            ${Print} "Running pre-install script..."
            # `type` is used to simulate a `tee`-like output in cmd.exe
            push '"$INSTDIR\pkgs\pre_install.bat" > "${STEP_LOG}" 2>&1 & SET ERR=!ERRORLEVEL! & type "${STEP_LOG}" & EXIT /B !ERR!'
            push "Failed to run pre-install script."
            push 'WithLog'
            call AbortRetryNSExecWait
        ${EndIf}
    NoPreInstall:

{%- for env in SETUP_ENVS %}
    {%- set channels = env.final_channels|join(",") %}
    # Set up {{ env.name }} env
    SetDetailsPrint both
    ${Print} "Setting up the {{ env.name }} environment..."
    SetDetailsPrint listonly


    # A conda-meta\history file is required for a valid conda prefix
    SetOutPath "{{ env.conda_meta }}"
    File "{{ env.history_abspath }}"
    # List of packages to install, as a lockfile
    File "{{ env.lockfile_txt_abspath }}"

    # Set channels
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_CHANNELS", "{{ channels }}")'
    # Set register_envs
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_REGISTER_ENVS", "{{ env.register_envs }}")'

    # Run conda install
    ${If} $Ana_CreateShortcuts_State = ${BST_CHECKED}
        ${Print} "Installing packages for {{ env.name }}, creating shortcuts if necessary..."
        push '"$INSTDIR\_conda.exe" install --offline -yp "{{ env.prefix }}" --file "{{ env.lockfile_txt }}" {{ env.shortcuts }} {{ env.no_rcs_arg }} {{ CONDA_LOG_ARG }}'
    ${Else}
        ${Print} "Installing packages for {{ env.name }}..."
        push '"$INSTDIR\_conda.exe" install --offline -yp "{{ env.prefix }}" --file "{{ env.lockfile_txt }}" --no-shortcuts {{ env.no_rcs_arg }} {{ CONDA_LOG_ARG }}'
    ${EndIf}
    push 'Failed to link extracted packages to {{ env.prefix }}!'
    push 'WithLog'
    SetDetailsPrint listonly
    call AbortRetryNSExecWait
    SetDetailsPrint both

    # Restore shipped conda-meta\history for remapped
    # channels and retain only the first transaction
    SetOutPath "{{ env.conda_meta }}"
    File "{{ env.history_abspath }}"

{%- if env.frozen_abspath %}
    # Add frozen marker file
    SetOutPath "{{ env.conda_meta }}"
    File "{{ env.frozen_abspath }}"
{%- endif %}
{%- endfor %}

{%- if condarc_file %}
    SetOutPath "$INSTDIR"
    File {{ condarc_file }}
{%- endif %}

    AddSize {{ SIZE }}

{%- if has_conda %}
    StrCpy $R0 "$INSTDIR\envs"
    ${IfNot} ${FileExists} "$R0"
        CreateDirectory "$R0"
    ${EndIf}
{%- endif %}

    ${If} ${FileExists} "$INSTDIR\pkgs\post_install.bat"
        ${If} $Ana_PostInstall_State = ${BST_CHECKED}
            ${Print} "Running post-install..."
            # `type` is used to simulate a `tee`-like output in cmd.exe
            push '"$INSTDIR\pkgs\post_install.bat" > "${STEP_LOG}" 2>&1 & SET ERR=!ERRORLEVEL! & type "${STEP_LOG}" & call exit !ERR!'
            push "Failed to run post-install script."
            push 'WithLog'
            call AbortRetryNSExecWait
        ${EndIf}
    ${EndIf}

    ${If} $Ana_ClearPkgCache_State = ${BST_CHECKED}
        ${Print} "Clearing package cache..."
        push '"$INSTDIR\_conda.exe" clean --all --force-pkgs-dirs --yes {{ NO_RCS_ARG }} {{ CONDA_LOG_ARG }}'
        push 'Failed to clear package cache'
        push 'WithLog'
        call AbortRetryNSExecWait
        # conda clean may leave behind .conda_trash files or locked files (e.g. vc_runtime DLLs).
        # Force remove any leftovers, note that locked files may still remain
        # See https://github.com/conda/constructor/issues/1213
        ${If} ${FileExists} "$INSTDIR\pkgs"
            nsExec::Exec 'cmd.exe /D /C RMDIR /Q /S "$INSTDIR\pkgs"'
        ${EndIf}
    ${EndIf}

    !if ${INIT_CONDA_OPTION} == 1
        ${If} ${FileExists} "$INSTDIR\.nonadmin"
            ${If} $INIT_CONDA = 1
                !insertmacro AddRemovePath "add" ""
            ${EndIf}
        ${EndIf}
    !endif

{%- if has_python %}
    # Create registry entries saying this is the system Python
    # (for this version)
    !define PYREG "Software\Python\PythonCore\${PY_VER}"
    ${If} $REG_PY == 1
        WriteRegStr SHCTX "${PYREG}\Help\Main Python Documentation" \
            "Main Python Documentation" \
            "$INSTDIR\Doc\python${PYVERSION_JUSTDIGITS}.chm"

        WriteRegStr SHCTX "${PYREG}\InstallPath" "" "$INSTDIR"

        WriteRegStr SHCTX "${PYREG}\InstallPath\InstallGroup" \
            "" "Python ${PY_VER}"

        WriteRegStr SHCTX "${PYREG}\Modules" "" ""
        WriteRegStr SHCTX "${PYREG}\PythonPath" \
            "" "$INSTDIR\Lib;$INSTDIR\DLLs"
    ${EndIf}
{%- endif %}

    ${If} $NO_REGISTRY == "0"
        # Registry uninstall info
        WriteRegStr SHCTX "${UNINSTREG}" "DisplayName" "${UNINSTALL_NAME}"
        WriteRegStr SHCTX "${UNINSTREG}" "DisplayVersion" "${VERSION}"
        WriteRegStr SHCTX "${UNINSTREG}" "Publisher" "${COMPANY}"
        WriteRegStr SHCTX "${UNINSTREG}" "UninstallString" \
            "$\"$INSTDIR\Uninstall-${NAME}.exe$\""
        WriteRegStr SHCTX "${UNINSTREG}" "QuietUninstallString" \
            "$\"$INSTDIR\Uninstall-${NAME}.exe$\" /S"
        WriteRegStr SHCTX "${UNINSTREG}" "DisplayIcon" \
            "$\"$INSTDIR\Uninstall-${NAME}.exe$\""

        WriteRegDWORD SHCTX "${UNINSTREG}" "NoModify" 1
        WriteRegDWORD SHCTX "${UNINSTREG}" "NoRepair" 1
    ${EndIf}

    WriteUninstaller "$INSTDIR\Uninstall-${NAME}.exe"
    ${If} ${FileExists} "$TmpDir"
        RMDir /r "$TmpDir"
    ${EndIf}

    ${Print} "Setting installation directory permissions..."
    # Enable inheritance on all files inside $INSTDIR.
    # Use icacls because it is much faster than custom NSIS solutions.
    # We continue on error because icacls fails on broken links.
    # `type` is used to simulate a `tee`-like output in cmd.exe
    push '"$ICACLS_EXE" "$INSTDIR\*" /inheritance:e /T /C /Q > "${STEP_LOG}" 2>&1 & SET ERR=!ERRORLEVEL! & type "${STEP_LOG}" & EXIT /B !ERR!'
    push 'Failed to enable inheritance for all files in the installation directory.'
    push 'WithLog'
    call AbortRetryNSExecWait
    ${Print} "Done!"
SectionEnd

Section "Uninstall"
    ${LogSet} on
    ${If} ${Silent}
        !insertmacro un.ParseCommandLineArgs
    ${EndIf}
    !insertmacro FindWindowsBinaries

    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_ROOT_PREFIX", "$INSTDIR")'

    # ensure that MSVC runtime DLLs are on PATH during uninstallation
    ReadEnvStr $R7 SystemRoot
    # set PATH for the installer process, so that MSVC runtimes get found OK
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("PATH", \
                 "$INSTDIR;$INSTDIR\Library\mingw-w64\bin;$INSTDIR\Library\usr\bin;$INSTDIR\Library\bin;$INSTDIR\Scripts;$INSTDIR\bin;$R7;$R7\system32;$R7\system32\Wbem")'

    # our newest Python builds have a patch that allows us to control the PATH search stuff much more
    #   carefully.  More info at https://docs.conda.io/projects/conda/en/latest/user-guide/troubleshooting.html#solution
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_DLL_SEARCH_MODIFICATION_ENABLE", "1")'

    # Spinners in conda write a new character with each movement of the spinner.
    # For long installation times, this may cause a buffer overflow, crashing the installer.
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("CONDA_QUIET", "1")'

    # Remove registry entries first because they are difficult to clean
    # up manually if the uninstallation irrecoverably fails.

    # Read variables the uninstaller needs from the registry
    StrCpy $R0 "SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall"
    StrLen $R1 "Uninstall-${NAME}.exe"
    IntOp $R1 $R1 + 3
    StrCpy $0 0
    loop_path:
        EnumRegKey $1 SHCTX $R0 $0
        StrCmp $1 "" endloop_path
        StrCpy $2 "$R0\$1"
        ReadRegStr $4 SHCTX $2 "UninstallString"
        StrLen $5 $4
        IntOp $5 $5 - $R1
        StrCpy $4 $4 $5 1
        ${If} $4 == $INSTDIR
            StrCpy $INSTALLER_NAME_FULL $1
            ReadRegStr $INSTALLER_VERSION SHCTX $2 "DisplayVersion"
            goto endloop_path
        ${EndIf}
        IntOp $0 $0 + 1
        goto loop_path
    endloop_path:

    ${If} $INSTALLER_NAME_FULL != ""
        DeleteRegKey SHCTX "SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\$INSTALLER_NAME_FULL"
    ${EndIf}

    # If Anaconda was registered as the official Python for this version,
    # remove it from the registry
    StrCpy $R0 "SOFTWARE\Python\PythonCore"
    StrCpy $0 0
    loop_py:
        EnumRegKey $1 SHCTX $R0 $0
        StrCmp $1 "" endloop_py
        ReadRegStr $2 SHCTX "$R0\$1\InstallPath" ""
        ${If} $2 == $INSTDIR
            StrCpy $R1 $1
            DeleteRegKey SHCTX "$R0\$1"
            goto endloop_py
        ${EndIf}
        IntOp $0 $0 + 1
        goto loop_py
    endloop_py:

    # Create the temporary directory inside $INSTDIR so that
    # Windows Defender does not get triggered by conda-standalone
    # being extracted into LOCALAPPDATA
    # See https://github.com/conda/constructor/issues/1243
    StrCpy $TmpDir "$INSTDIR\tmp"
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("TMP", "$TmpDir")'
    CreateDirectory "$TmpDir"

    # Extra info for pre_uninstall scripts
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("PREFIX", "$INSTDIR")'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_NAME", "${NAME}")'
    StrCpy $0 ${VERSION}
    ${If} $INSTALLER_VERSION != ""
      StrCpy $0 $INSTALLER_VERSION
    ${EndIf}
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_VER", "$0")'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_PLAT", "${PLATFORM}")'
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_TYPE", "EXE")'
    ${If} ${Silent}
        System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_UNATTENDED", "1")'
    ${Else}
        System::Call 'kernel32::SetEnvironmentVariable(t,t)i("INSTALLER_UNATTENDED", "0")'
    ${EndIf}
{%- for key, escaped_val in SCRIPT_ENV_VARIABLES | items %}
    System::Call 'kernel32::SetEnvironmentVariable(t,t)i("{{ key }}", {{ escaped_val }})'
{%- endfor %}

{%- if uninstall_with_conda_exe %}
    # Parse uninstall options
    var /global UninstOptions
    StrCpy $UninstOptions ""

    ${If} $UninstRemoveConfigFiles_User_State == ${BST_CHECKED}
    ${If} $UninstRemoveConfigFiles_System_State == ${BST_CHECKED}
        StrCpy $UninstOptions "$UninstOptions --remove-config-files=all"
        System::Call 'kernel32::SetEnvironmentVariable(t,t)i("UNINSTALLER_REMOVE_CONFIG_FILES", "all")'
    ${Else}
        StrCpy $UninstOptions "$UninstOptions  --remove-config-files=user"
        System::Call 'kernel32::SetEnvironmentVariable(t,t)i("UNINSTALLER_REMOVE_CONFIG_FILES", "user")'
    ${EndIf}
    ${ElseIf} $UninstRemoveConfigFiles_System_State == ${BST_CHECKED}
        StrCpy $UninstOptions "$UninstOptions --remove-config-files=system"
        System::Call 'kernel32::SetEnvironmentVariable(t,t)i("UNINSTALLER_REMOVE_CONFIG_FILES", "system")'
    ${EndIf}

    ${If} $UninstRemoveUserData_State == ${BST_CHECKED}
        StrCpy $UninstOptions "$UninstOptions  --remove-user-data"
        System::Call 'kernel32::SetEnvironmentVariable(t,t)i("UNINSTALLER_REMOVE_USER_DATA", "1")'
    ${EndIf}

    ${If} $UninstRemoveCaches_State == ${BST_CHECKED}
        StrCpy $UninstOptions "$UninstOptions  --remove-caches"
        System::Call 'kernel32::SetEnvironmentVariable(t,t)i("UNINSTALLER_REMOVE_CACHES", "1")'
    ${EndIf}
{%- endif %}

    ${If} ${FileExists} "$INSTDIR\pre_uninstall.bat"
        ${Print} "Running pre-uninstall script..."
        # `type` is used to simulate a `tee`-like output in cmd.exe
        push '"$INSTDIR\pre_uninstall.bat" > "${STEP_LOG}" 2>&1 & SET ERR=!ERRORLEVEL! & type "${STEP_LOG}" & EXIT /B !ERR!'
        push "Failed to run pre-uninstall scripts."
        push 'WithLog'
        call un.AbortRetryNSExecWait
    ${EndIf}
    ${If} ${FileExists} "$INSTDIR\.nonadmin"
        !insertmacro AddRemovePath "remove" "un."
    ${EndIf}

{%- if uninstall_with_conda_exe %}

    ${Print} "Removing files and folders..."
    push '"$INSTDIR\_conda.exe" constructor uninstall $UninstOptions --prefix "$INSTDIR" {{ CONDA_LOG_ARG }}'
    push 'Failed to remove files and folders. Please see the log for more information.'
    push 'WithLog'
    SetDetailsPrint listonly
    call un.AbortRetryNSExecWait
    SetDetailsPrint both

    # The uninstallation may leave the install.log, the uninstaller,
    # and .conda_trash files behind, so remove those manually.
    ${If} ${FileExists} "$INSTDIR"
        # Stop logging or the uninstaller will not remove the install.log file
        # without requiring a reboot
        ${LogSet} off
        RMDir /r /REBOOTOK "$INSTDIR"
    ${EndIf}
{%- else %}
{%- for env in SETUP_ENVS | reverse %}
    {%- set subdir = ("\envs\%(name)s" | format(name=env.name)) if env.name != "base" else "" %}
    SetDetailsPrint both
    ${Print} "Deleting ${NAME} menus in {{ env.name }}..."
    SetDetailsPrint listonly
    push '"$INSTDIR\_conda.exe" constructor --prefix "$INSTDIR{{ subdir }}" --rm-menus {{ CONDA_LOG_ARG }}'
    push 'Failed to delete menus in {{ env.name }}'
    push 'WithLog'
    call un.AbortRetryNSExecWait
    SetDetailsPrint both
{%- endfor %}
{%- if has_conda %}
    ${If} ${FileExists} "$INSTDIR\.nonadmin"
        StrCpy $R0 "user"
    ${Else}
        StrCpy $R0 "system"
    ${EndIf}
    # `type` is used to simulate a `tee`-like output in cmd.exe
    push '"$INSTDIR\condabin\conda.bat" init cmd.exe --reverse --$R0 > "${STEP_LOG}" 2>&1 & SET ERR=!ERRORLEVEL! & type "${STEP_LOG}" & EXIT /B !ERR!'
    push 'Failed to clean AutoRun'
    push 'WithLog'
    call un.AbortRetryNSExecWait
{%- endif %}

    ${Print} "Removing files and folders..."
    nsExec::Exec 'cmd.exe /D /C RMDIR /Q /S "$INSTDIR"'

    # Stop logging or the uninstaller will not remove the install.log file
    # without requiring a reboot
    ${LogSet} off
    # In case the last command fails, run the slow method to remove leftover
    RMDir /r /REBOOTOK "$INSTDIR"

{%- endif %}

    ${Print} "Done!"
    ${If} ${Silent}
        # give it some time so users can read the last lines
        ${Print} "Closing in 3s..."
        Sleep 3000
    ${EndIf}

SectionEnd

!if '{{ SIGNTOOL_COMMAND }}' != ''
    # Signing for installer and uninstaller; nsis 3.08 required for uninstfinalize!
    # "= 0" comparison required to prevent both tasks running in parallel, which would cause signtool to fail
    # %1 is replaced by the installer and uninstaller paths, respectively
    !finalize '{{ SIGNTOOL_COMMAND }} "%1"' = 0
    !uninstfinalize '{{ SIGNTOOL_COMMAND }} "%1"' = 0
!endif
