<!--
    loading.html
    ~~~~~~~~~~~~

    Loading template for the IPython console

    :copyright: Copyright 2014 by the Spyder Development Team
    :license: MIT license
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="file:///${css_path}/default.css" type="text/css"/>

<body>
  <div class="loading">
    <img src="file:///${loading_img}"/>&nbsp;&nbsp;${message}
  </div>
</body>

</html>
