#
# MANIFEST.in
#
# Manifest template for creating the PyLudic source distribution.

include MANIFEST.in
include setup.py
include AUTHORS.rst
include CHANGES.rst
include CONTRIBUTING.rst
include LICENSE.rst
include README.rst
include qdarkstyle/*
