[FORMAT]

max-line-length = 120

[MESSAGES CONTROL]

enable =
    useless-suppression

disable =
    duplicate-code,
    invalid-name,
    fixme,
    missing-docstring,
    protected-access,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    import-error

[REPORTS]

reports = no

[TYPECHECK]

generated-members =
    pylsp_*
    cache_clear
