name: Linux tests

on:
  push:
    branches:
    - master
    - 2.*
  pull_request:
    branches:
    - master
    - 2.*

concurrency:
  group: linux-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    name: Py${{ matrix.PYTHON_VERSION }}
    runs-on: ubuntu-latest
    env:
      CI: True
      PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
      RUNNER_OS: 'ubuntu'
      USE_CONDA: 'true'
    strategy:
      fail-fast: false 
      matrix:
        PYTHON_VERSION: ['3.8', '3.9', '3.10']
    timeout-minutes: 20
    steps:
      - name: Checkout branch
        uses: actions/checkout@v1
      - name: Install System Packages
        run: | 
          sudo apt-get update
          sudo apt-get install libegl1-mesa
      - name: Install Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
           activate-environment: test
           auto-update-conda: true
           auto-activate-base: false
           channels: conda-forge
           miniforge-variant: Mambaforge
           python-version: ${{ matrix.PYTHON_VERSION }} 
      - name: Install package dependencies
        shell: bash -l {0}
        run: |
          mamba install --file requirements/posix.txt -y -q
      - name: Install test dependencies
        shell: bash -l {0}
        run: mamba install --file requirements/tests.txt -y -q
      - name: Install Package
        shell: bash -l {0}
        run: pip install -e .
      - name: Show environment information
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Run tests
        shell: bash -l {0}
        run: |
          xvfb-run --auto-servernum pytest spyder_kernels --color=yes --cov=spyder_kernels -x -vv || \
          xvfb-run --auto-servernum pytest spyder_kernels --color=yes --cov=spyder_kernels -x -vv || \
          xvfb-run --auto-servernum pytest spyder_kernels --color=yes --cov=spyder_kernels -x -vv
      - name: Upload coverage to Codecov
        if: matrix.PYTHON_VERSION == '3.8'
        shell: bash -l {0}
        run: codecov -t 02fa9892-fa7f-4cf8-ac3c-d54143ddc933
