body {
    background-color: transparent;
    color: black;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

a.headerlink {
    color: transparent;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    background-color: transparent;
    color: transparent;
}

div.section {
    margin: 20px 0px 0px 0px;
}

div.section h1, h2 {
    background-color: #F2F2F2;
    border: 1px solid #CCC;
    color: #20435C;
    font-weight: bold;
    padding: 4px 0px 4px 8px;
    font-size: 200%;
}

div.section h2 {
    font-size: 135%;
}

dl.docutils {
    padding: 0px 10px 0px;
}

div.section p {
    padding: 0px 10px 0px;
}

#parameters h1, #returns h1, #raises h1 {
    background-color: #EDE;
    border: 1px solid #AAA !important;
    color: #06C;
    font-size: 135%;
}

#see-also h1 {
    background-color: #ffc;
    border: transparent;
    color: black;
    /*margin-top: 4px;*/
    margin: 4px 0px 0px 0px;
    padding: 0px 0px 0px 8px;
    font-size: 135%;
}

#see-also {
    background-color: #ffc;
    color: black;
    padding: 1px;
    border: 1px solid #FF6 !important;
}

#notes h1, #examples h1, #methods h1, #usage h1, #references h1 {
    background-color: #E6E6E6;
    border: 1px solid #CCC;
    color: #355F7C;
    font-size: 135%;
}

#warning {
    margin-top: 5px;
    background-color: #FFE4E4;
    border: 1px solid #F66;
    padding: 4px 8px 4px 8px;
    text-align: center;
}

/* Docutils table style */
table.docutils {
    font-size: 80%;
    /*margin: 20px 10px 0px;*/
    border-collapse: collapse;
    border-left: transparent;
    border-right: transparent;
    margin-top: 20px;
    margin-left: 10px;
    width: 96%;
    border-top: 1px solid #0B95BC;
    border-bottom: 1px solid #0B95BC;
    background-color: #E6EEF0;
    /*background-color: #E9F0F2;*/
}

table.docutils td {
    padding: 5px;
    border-color: transparent;
}

/* Docutils table headers */
table.docutils th {
    background-color: #5AC8E2;
    /*background-color: #D6EBF0;*/
    border-top: 1px solid #0B95BC;
    border-bottom: 1px solid #0B95BC;
    color: white;
    /*color: #176E82;*/
    font-weight: bold;
    text-align: center;
    padding: 6px 0px 6px 8px;
}

/* Field-list table style */
table.docutils.field-list {
    font-size: 80%;
    border-collapse: collapse;
    border-left: transparent;
    border-right: transparent;
    margin-top: 15px;
    margin-left: 40px;
    width: 83%;
}

/* Field-list table headers */
table.docutils.field-list th {
    background-color: transparent;
    border-top: transparent;
    border-bottom: transparent;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 4px 0px 4px 8px;
}

/* spacing around example code */
div.highlight pre {
    padding: 2px 0px 2px 0px;
    background-color: #EFC;
    border: 1px solid #AC9;
    border-left: None;
    border-right: None;
}

div.highlight {
    padding: 0px 10px 0px;
}

dt {
    font-weight: bold;
    /*font-size: 16px;*/
}

.classifier {
    /*font-size: 10pt;*/
    font-weight: normal;
}

tt {
    background-color: #ECF0F3;
    font-size: 0,95em;
    padding: 0px 1px;
}
