{#
    layout.html
    ~~~~~~~~~~~

    Template layout for the object inspector

    :copyright: Copyright 2012 by the Spyder team.
    :copyright: Copyright 2009 by Tim Dumol <tim@timdumol.com>
    :license: BSD license
#}

{%- block doctype -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{%- endblock %}

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{css_path}}/default.css" type="text/css" />
    <link rel="stylesheet" href="{{css_path}}/pygments.css" type="text/css" />
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        jax: ["input/TeX","output/SVG"],
        extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
        showMathMenu: false,
        "SVG": {
            blacker: 1
        }
    });
    </script>
    <script type="text/javascript" 
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default">
    </script>
</head>

<body>
  <div class="docstring">
      {% block body %}{% endblock %}
  </div>
</body>

</html>
