[Desktop Entry]
Version=1.0
Type=Application
Name=Spyder 4.x
Exec=/bin/bash -c "exec ${HOME}/bootstrap.py"
# FIXME: Don't hardcode Path?
Icon=/home/jovyan/img_src/spyder.svg
Path=/home/jovyan/Desktop
