[Desktop Entry]
Version=1.0
Type=Application
Name=Spyder
GenericName=Spyder
Comment=Scientific PYthon Development EnviRonment
TryExec=spyder
Exec=spyder %F
Categories=Development;Science;IDE;Qt;
Icon=spyder
Terminal=false
StartupNotify=true
MimeType=text/x-python;
Keywords=Development;Science;IDE;Qt;
X-AppStream-Ignore=True
