[Desktop Entry]
Version=1.0
Type=Application
Name=Spyder3
GenericName=Spyder3
Comment=Scientific PYthon Development EnviRonment - Python3
TryExec=spyder3
Exec=spyder3 %F
Categories=Development;Science;IDE;Qt;
Icon=spyder3
Terminal=false
StartupNotify=true
MimeType=text/x-python;
