[Desktop Entry]
Type=Application
Version=1.0
Name=Spyder
GenericName=Spyder
Comment=Scientific PYthon Development EnviRonment
Icon=spyder
TryExec=spyder
Exec=spyder %F
Terminal=false
MimeType=text/x-python;
Categories=Development;Science;IDE;Qt;
Keywords=Development;Science;IDE;Qt;
StartupNotify=true
X-AppStream-Ignore=True
