cloudpickle
pygments>=2.0
qtconsole>=4.2.0
nbconvert
sphinx
pylint
psutil
qtawesome>=0.4.1
qtpy>=1.2.0
pickleshare
pyzmq
chardet>=2.0.0
numpydoc
pyqt5
keyring
spyder-kernels>=1.0
python-language-server
qdarkstyle
