name: Mac tests

on:
  push:
    branches:
      - master
      - 5.*
      - 4.x
    paths:
      - '.github/scripts/*.sh'
      - '.github/workflows/*.yml'
      - 'requirements/*.yml'
      - 'MANIFEST.in'
      - '**.bat'
      - '**.py'
      - '**.sh'
      - '!installers-conda/**'
      - '!.github/workflows/installers-conda.yml'
      - '!.github/workflows/build-subrepos.yml'

  pull_request:
    branches:
      - master
      - 5.*
      - 4.x
    paths:
      - '.github/scripts/*.sh'
      - '.github/workflows/*.yml'
      - 'requirements/*.yml'
      - 'MANIFEST.in'
      - '**.bat'
      - '**.py'
      - '**.sh'
      - '!installers-conda/**'
      - '!.github/workflows/installers-conda.yml'
      - '!.github/workflows/build-subrepos.yml'

  workflow_dispatch:

concurrency:
  group: test-mac-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    # Use this to disable the workflow
    # if: false
    name: Mac - Py${{ matrix.PYTHON_VERSION }}, ${{ matrix.INSTALL_TYPE }}, ${{ matrix.TEST_TYPE }}
    runs-on: macos-12
    env:
      CI: 'true'
      QTCONSOLE_TESTING: 'true'
      CODECOV_TOKEN: "56731c25-9b1f-4340-8b58-35739bfbc52d"
      OS: 'macos'
      PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
      RUN_SLOW: ${{ matrix.TEST_TYPE == 'slow' }}
      USE_CONDA: ${{ matrix.INSTALL_TYPE == 'conda' }}
    strategy:
      fail-fast: false
      matrix:
        INSTALL_TYPE: ['conda']
        PYTHON_VERSION: ['3.9']
        TEST_TYPE: ['fast', 'slow']
    timeout-minutes: 90
    steps:
      - name: Checkout Pull Requests
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Checkout Push
        if: github.event_name != 'pull_request'
        uses: actions/checkout@v4
      - name: Fetch branches
        run: git fetch --prune --unshallow
      - name: Cache conda
        uses: actions/cache@v4
        env:
          # Increase this value to reset cache if requirements/*.txt has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-cacheconda-install${{ matrix.INSTALL_TYPE }}-${{ matrix.PYTHON_VERSION }}-${{ env.CACHE_NUMBER }}-${{ hashFiles('requirements/*.yml') }}
      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/Library/Caches/pip
          key: ${{ runner.os }}-cachepip-install${{ matrix.INSTALL_TYPE }}-${{ env.CACHE_NUMBER }}-${{ hashFiles('setup.py') }}
      - name: Create conda test environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: requirements/main.yml
          environment-name: test
          cache-downloads: true
          create-args: python=${{ matrix.PYTHON_VERSION }}
      - name: Install additional dependencies
        shell: bash -l {0}
        run: bash -l .github/scripts/install.sh
      - name: Show test environment
        shell: bash -l {0}
        run: |
          micromamba info
          micromamba list
      #- name: Setup tmate session
      #  if: env.USE_CONDA == 'true'
      #  uses: mxschmitt/action-tmate@v3
      #  timeout-minutes: 45
      - name: Run manifest checks
        shell: bash -l {0}
        run: check-manifest
      - name: Run tests
        shell: bash -l {0}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          rm -f pytest_log.txt  # Must remove any log file from a previous run
          .github/scripts/run_tests.sh || \
          .github/scripts/run_tests.sh || \
          .github/scripts/run_tests.sh || \
          .github/scripts/run_tests.sh
      - name: Coverage
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: false
          verbose: true
